.kursiv {
    font-style: italic;
    font-size: 0.9em;
}


.wrapper {
    width: 600px;
    margin: 0 auto;
}

.width_table {
    width: 600px;
}

.div_width {
    border-bottom: inset;
    border-width: 1px;
}

.gray {
    color: gray;
}

body {
    font-family: 'Open Sans', sans-serif;
}


TABLE {
    width: 900px; /* Ширина таблицы */
    border-collapse: collapse; /* Убираем двойные линии между ячейками */

}

TD, TH {

    text-align: left;

    width: 160px;
}

.subtitle {
    font-size: 1.5em;
}

.subtitle2 {
    font-size: 0.9em;
    font-weight: 300;
}

.subtitle3 {
    font-size: large;
    font-style: normal;
    font-weight: bold;
}

.subtitle4 {
    font-weight: 500;
}

p {
    font-size: 1.1em;
}

hr {
    color: lightgrey;
}